<!DOCTYPE html>
<html lang="en">
  <!-- Head Contains all the metadata -->
  <head>
    <meta charset="utf-8">
    <title>Sigmiano Skibaldo</title>
    <meta name="author" content="Harry Bond">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general-styles.css">
  </head>

  <body>
    <header>
      <h1>Sigmiano Skibaldo</h1>
    </header>

    <main>
      <ul><!-- Uses an unordered list with anchors to the other pages  -->
        <li><a href="league-table.html">League Table</a></li>
        <li><a href="our-team.html">Our Team</a></li>
        <li><a href="committeemeetings.html">Team Statistics</a></li>
        <li><a href="comittemembers.html">As it Stands Awards</a></li>
      </ul>
    </main>

    <footer>

    </footer>
  </body>
</html>