<!DOCTYPE html>
<html lang="en">
  <!-- Head Contains all the metadata -->
  <head>
    <meta charset="utf-8">
    <title>Sigmiano Skibaldo</title>
    <meta name="author" content="Harry Bond">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general-styles.css">
  </head>

  <body>
    <header>
      <h1>Sigmiano Skibaldo</h1>
      <div id="horizontal-flex">
        <a href="/home"><h2>The<br>League</h2></a>
        <a style="background-color: white;" href="/player-statistics"><h2>Player<br>Statistics</h2></a>
        <a href="/our-team"><h2>Our<br>Team</h2></a>
        <a href="/as-it-stands-awards"><h2>As it Stands<br>Awards</h2></a>
      </div>
    </header>

    <main>

    </main>

    <footer>
      <h6>©Harry Bond</h6>
      <h6>2024</h6>
    </footer>
  </body>
</html>