/** Simple ccs file with example of changing the heading color to blue**/
h1{
    color: black;
    white-space: nowrap;
    padding-left: 4%;
}
h2{
    color: black;
    text-align: center;
    margin:0;
    padding: 0;
}
a{
    border: black;
    border-style: solid;
    background-color: darkgrey;
    text-decoration: none;
    padding: 0;
    width: 20%;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
}
body{
    margin:0;
    background-color: darkgrey;
}
#horizontal-align{
    display: flex;
    flex-direction: row;
}
#horizontal-flex{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0;
    margin: 0;
    margin-left:30%;
    width: 100%;
}

#player-details-row
{
    display: flex;
    flex-direction: row;
}
#player-details{
    background-color: white;
    border-color: black;
    border-radius:15px;
    width:20%;
    margin-left: 5%;
    padding-left: 20%;
}


h3{

}
h4{

}
